<h1>Listing shorteners</h1>

<table>
  <thead>
    <tr>
      <th>Long</th>
      <th>Short</th>
      <th>User</th>
      <th>Create</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shorteners.each do |shortener| %>
      <tr>
        <td><%= shortener.long %></td>
        <td><%= shortener.short %></td>
        <td><%= shortener.user_id %></td>
        <td><%= shortener.create %></td>
        <td><%= link_to 'Show', shortener %></td>
        <td><%= link_to 'Edit', edit_shortener_path(shortener) %></td>
        <td><%= link_to 'Destroy', shortener, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shortener', new_shortener_path %>
